# **VIRTUAL RACE ENGINEER**

In [1]:
import fastf1 as ff
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import fastf1.plotting
fastf1.plotting.setup_mpl()
import fastf1.api as fap
fastf1.Cache.enable_cache(r"D:\Prabhu\SEM 7\F1 Data")
import re
import datetime as dt
import fastf1.mvapi as famp

d:\Prabhu\SEM 7\F1 Data\.venv\Lib\site-packages\fastf1\api.py:32: UserWarning: `fastf1.api` will be considered private in future releases and potentially be removed or changed!
  warnings.warn("`fastf1.api` will be considered private in future releases and "

### LOADING SESSION

In [2]:
session = ff.get_session(2023,'Dutch','R')
session.load()

core           INFO 	Loading data for Dutch Grand Prix - Race [v3.3.7]
req            INFO 	Using cached data for session_info
req            INFO 	Using cached data for driver_info
req            INFO 	Using cached data for session_status_data
req            INFO 	Using cached data for lap_count
req            INFO 	Using cached data for track_status_data
req            INFO 	Using cached data for _extended_timing_data
req            INFO 	Using cached data for timing_app_data
core           INFO 	Processing timing data...
req            INFO 	Using cached data for car_data
req            INFO 	Using cached data for position_data
req            INFO 	Using cached data for weather_data
req            INFO 	Using cached data for race_control_messages
core           INFO 	Finished loading data for 20 drivers: ['1', '14', '10', '11', '55', '44', '4', '23', '81', '31', '18', '27', '40', '77', '22', '20', '63', '24', '16', '2']

In [3]:
laps=session.laps
drivers=laps['Driver'].unique()

### FETCHING TELEMETRY DATA

In [4]:
total_telemetry=[]
for i in drivers:
    drivers_laps=laps.pick_driver(i)
    driver_telemetry=drivers_laps.get_car_data()
    
    driver_telemetry['Driver']=i
    total_telemetry.append(driver_telemetry)
telemetry_data=pd.concat(total_telemetry,ignore_index=True)
telemetry_data

,Date,RPM,Speed,nGear,Throttle,Brake,DRS,Source,Time,SessionTime,Driver
0,2023-08-27 13:03:05.416,10093,0,1,15,False,1,car,0 days 00:00:00.082000,0 days 01:02:05.042000,VER
1,2023-08-27 13:03:05.616,10063,0,1,15,False,1,car,0 days 00:00:00.282000,0 days 01:02:05.242000,VER
2,2023-08-27 13:03:05.897,8517,1,1,15,False,1,car,0 days 00:00:00.563000,0 days 01:02:05.523000,VER
3,2023-08-27 13:03:06.097,7117,11,1,15,False,1,car,0 days 00:00:00.763000,0 days 01:02:05.723000,VER
4,2023-08-27 13:03:06.497,4317,24,1,16,False,1,car,0 days 00:00:01.163000,0 days 01:02:06.123000,VER
...,...,...,...,...,...,...,...,...,...,...,...
601328,2023-08-27 15:27:25.367,11670,294,7,99,False,1,car,0 days 02:24:20.033000,0 days 03:26:24.993000,PIA
601329,2023-08-27 15:27:25.527,11699,295,7,99,False,1,car,0 days 02:24:20.193000,0 days 03:26:25.153000,PIA
601330,2023-08-27 15:27:25.687,11742,295,7,99,False,1,car,0 days 02:24:20.353000,0 days 03:26:25.313000,PIA
601331,2023-08-27 15:27:26.047,11758,296,7,99,False,1,car,0 days 02:24:20.713000,0 days 03:26:25.673000,PIA
601332,2023-08-27 15:27:26.447,11775,297,7,99,False,1,car,0 days 02:24:21.113000,0 days 03:26:26.073000,PIA

### FETCHING WEATHER,TYRE,LAP AND POSITION DATA

In [65]:
weather_data=pd.DataFrame(fap.weather_data(session.api_path))
tyre_data = laps[['Driver', 'LapNumber', 'Compound', 'FreshTyre','TyreLife']]
lap_data=laps[['Time','Driver','DriverNumber','LapNumber','LapTime','Sector1Time','Sector2Time','Sector3Time','IsAccurate']]
position_data=laps[['Driver','LapNumber','Position']]
laps

req            INFO 	Using cached data for weather_data

,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,Sector2Time,...,FreshTyre,Team,LapStartTime,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate
0,0 days 01:03:36.820000,VER,1,0 days 00:01:31.585000,1.0,1.0,NaT,NaT,NaT,0 days 00:00:28.929000,...,True,Red Bull Racing,0 days 01:02:04.960000,2023-08-27 13:03:05.334,1,1.0,False,,False,False
1,0 days 01:05:26.792000,VER,1,0 days 00:01:49.972000,2.0,1.0,NaT,0 days 01:05:25.519000,0 days 00:00:36.330000,0 days 00:00:36.685000,...,True,Red Bull Racing,0 days 01:03:36.820000,2023-08-27 13:04:37.194,1,3.0,False,,False,False
2,0 days 01:07:15.450000,VER,1,0 days 00:01:48.658000,3.0,2.0,0 days 01:05:45.581000,NaT,0 days 00:00:49.822000,0 days 00:00:30.905000,...,True,Red Bull Racing,0 days 01:05:26.792000,2023-08-27 13:06:27.166,1,5.0,False,,False,False
3,0 days 01:08:40.701000,VER,1,0 days 00:01:25.251000,4.0,2.0,NaT,NaT,0 days 00:00:29.996000,0 days 00:00:29.479000,...,True,Red Bull Racing,0 days 01:07:15.450000,2023-08-27 13:08:15.824,1,4.0,False,,False,True
4,0 days 01:10:04.162000,VER,1,0 days 00:01:23.461000,5.0,2.0,NaT,NaT,0 days 00:00:28.478000,0 days 00:00:29.064000,...,True,Red Bull Racing,0 days 01:08:40.701000,2023-08-27 13:09:41.075,1,4.0,False,,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1338,0 days 03:20:55.371000,PIA,81,0 days 00:01:25.004000,68.0,6.0,NaT,NaT,0 days 00:00:29.890000,0 days 00:00:29.060000,...,False,McLaren,0 days 03:19:30.367000,2023-08-27 15:20:30.741,1,9.0,False,,False,True
1339,0 days 03:22:18.282000,PIA,81,0 days 00:01:22.911000,69.0,6.0,NaT,NaT,0 days 00:00:28.834000,0 days 00:00:28.632000,...,False,McLaren,0 days 03:20:55.371000,2023-08-27 15:21:55.745,1,9.0,False,,False,True
1340,0 days 03:23:40.941000,PIA,81,0 days 00:01:22.659000,70.0,6.0,NaT,NaT,0 days 00:00:28.662000,0 days 00:00:28.457000,...,False,McLaren,0 days 03:22:18.282000,2023-08-27 15:23:18.656,1,9.0,False,,False,True
1341,0 days 03:25:03.237000,PIA,81,0 days 00:01:22.296000,71.0,6.0,NaT,NaT,0 days 00:00:28.423000,0 days 00:00:28.419000,...,False,McLaren,0 days 03:23:40.941000,2023-08-27 15:24:41.315,1,9.0,False,,False,True
1342,0 days 03:26:26.271000,PIA,81,0 days 00:01:23.034000,72.0,6.0,NaT,NaT,0 days 00:00:28.709000,0 days 00:00:28.402000,...,False,McLaren,0 days 03:25:03.237000,2023-08-27 15:26:03.611,1,9.0,False,,False,True

### FETCHING RACE CONTROL MESSAGES

In [66]:
rcm_data = pd.DataFrame(fap.race_control_messages(session.api_path))
msg=rcm_data[['Time','Status','Message']]

#Filter for Yellow, Red, VSC, SC 
yellow_flags_key=['YELLOW','DOUBLE YELLOW']
red_flags_key=['RED']
vsc_key=['VSC','VIRTUAL SAFETY CAR']
sc_key=['SC','SAFETY CAR']

#Searching using the keyword in REGEX
yellow_flags = msg[msg['Message'].apply(lambda x: any(re.search(r'\b{}\b'.format(keyword), x) for keyword in yellow_flags_key))]
red_flags = msg[msg['Message'].apply(lambda x: any(re.search(r'\b{}\b'.format(keyword), x) for keyword in red_flags_key))]
vsc = msg[msg['Message'].apply(lambda x: any(re.search(r'\b{}\b'.format(keyword), x) for keyword in vsc_key))]
sc = msg[msg['Message'].apply(lambda x: any(re.search(r'\b{}\b'.format(keyword), x) for keyword in sc_key))]

req            INFO 	Using cached data for race_control_messages

### FETCHING LAP DATA (PITS STOPS, DRIVER POSITION ETC.)

In [105]:
lapsdata, streamdata = fap.timing_data(session.api_path)
# pd.set_option('display.max_columns', None)
lapsdata=pd.DataFrame(lapsdata)
lapsdata['DriverNumber'] = lapsdata['Driver']
gapdata=pd.DataFrame(streamdata)
gapdata['DriverNumber'] = gapdata['Driver']
gap_data = gapdata[['Time','DriverNumber','Position','GapToLeader','IntervalToPositionAhead']]
laps_data=lapsdata[['Time','DriverNumber','LapTime','NumberOfPitStops','PitOutTime','PitInTime']]

req            INFO 	Using cached data for _extended_timing_data

### GETTING CORNERS INFO

In [106]:
circuit_info=session.get_circuit_info()
corners_data=circuit_info.corners

In [107]:
laps_data

,Time,DriverNumber,LapTime,NumberOfPitStops,PitOutTime,PitInTime
0,0 days 01:03:36.820000,1,NaT,0,0 days 00:14:44.885000,NaT
1,0 days 01:05:26.792000,1,0 days 00:01:49.972000,0,NaT,0 days 01:05:25.519000
2,0 days 01:07:15.450000,1,0 days 00:01:48.658000,1,0 days 01:05:45.581000,NaT
3,0 days 01:08:40.701000,1,0 days 00:01:25.251000,1,NaT,NaT
4,0 days 01:10:04.162000,1,0 days 00:01:23.461000,1,NaT,NaT
...,...,...,...,...,...,...
1336,0 days 03:21:01.503000,20,0 days 00:01:25.674000,6,NaT,NaT
1337,0 days 03:22:25.595000,20,0 days 00:01:24.092000,6,NaT,NaT
1338,0 days 03:23:48.622000,20,0 days 00:01:23.027000,6,NaT,NaT
1339,0 days 03:25:12.534000,20,0 days 00:01:23.912000,6,NaT,NaT
1340,0 days 03:26:36.084000,20,0 days 00:01:23.550000,6,NaT,NaT

In [116]:
master_data = lap_data.merge(position_data, on=['Driver', 'LapNumber'], how='left')
master_data = master_data.merge(tyre_data, on=['Driver', 'LapNumber'], how='left')
master_data = master_data.merge(laps_data, on=['DriverNumber','Time','LapTime'], how='left')

In [117]:
master_data

,Time,Driver,DriverNumber,LapNumber,LapTime,Sector1Time,Sector2Time,Sector3Time,IsAccurate,Position,Compound,FreshTyre,TyreLife,NumberOfPitStops,PitOutTime,PitInTime
0,0 days 01:03:36.820000,VER,1,1.0,0 days 00:01:31.585000,NaT,0 days 00:00:28.929000,0 days 00:00:30.478000,False,1.0,SOFT,True,1.0,NaN,NaT,NaT
1,0 days 01:05:26.792000,VER,1,2.0,0 days 00:01:49.972000,0 days 00:00:36.330000,0 days 00:00:36.685000,0 days 00:00:36.957000,False,3.0,SOFT,True,2.0,0.0,NaT,0 days 01:05:25.519000
2,0 days 01:07:15.450000,VER,1,3.0,0 days 00:01:48.658000,0 days 00:00:49.822000,0 days 00:00:30.905000,0 days 00:00:27.931000,False,5.0,INTERMEDIATE,True,1.0,1.0,0 days 01:05:45.581000,NaT
3,0 days 01:08:40.701000,VER,1,4.0,0 days 00:01:25.251000,0 days 00:00:29.996000,0 days 00:00:29.479000,0 days 00:00:25.776000,True,4.0,INTERMEDIATE,True,2.0,1.0,NaT,NaT
4,0 days 01:10:04.162000,VER,1,5.0,0 days 00:01:23.461000,0 days 00:00:28.478000,0 days 00:00:29.064000,0 days 00:00:25.919000,True,4.0,INTERMEDIATE,True,3.0,1.0,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1338,0 days 03:20:55.371000,PIA,81,68.0,0 days 00:01:25.004000,0 days 00:00:29.890000,0 days 00:00:29.060000,0 days 00:00:26.054000,True,9.0,INTERMEDIATE,False,9.0,5.0,NaT,NaT
1339,0 days 03:22:18.282000,PIA,81,69.0,0 days 00:01:22.911000,0 days 00:00:28.834000,0 days 00:00:28.632000,0 days 00:00:25.445000,True,9.0,INTERMEDIATE,False,10.0,5.0,NaT,NaT
1340,0 days 03:23:40.941000,PIA,81,70.0,0 days 00:01:22.659000,0 days 00:00:28.662000,0 days 00:00:28.457000,0 days 00:00:25.540000,True,9.0,INTERMEDIATE,False,11.0,5.0,NaT,NaT
1341,0 days 03:25:03.237000,PIA,81,71.0,0 days 00:01:22.296000,0 days 00:00:28.423000,0 days 00:00:28.419000,0 days 00:00:25.454000,True,9.0,INTERMEDIATE,False,12.0,5.0,NaT,NaT
1342,0 days 03:26:26.271000,PIA,81,72.0,0 days 00:01:23.034000,0 days 00:00:28.709000,0 days 00:00:28.402000,0 days 00:00:25.923000,True,9.0,INTERMEDIATE,False,13.0,5.0,NaT,NaT

In [123]:
# master_data = master_data.merge(telemetry_data, on=['Driver', 'LapNumber'], how='left')
# master_data = master_data.merge(weather_data, on='Time', how='left')

,Time,AirTemp,Humidity,Pressure,Rainfall,TrackTemp,WindDirection,WindSpeed
0,0 days 00:00:46.338000,17.4,68.0,1007.4,False,25.5,196,2.7
1,0 days 00:01:46.337000,17.4,67.0,1007.5,False,25.5,193,3.2
2,0 days 00:02:46.336000,17.4,66.0,1007.4,False,25.5,177,3.4
3,0 days 00:03:46.335000,17.5,67.0,1007.4,False,25.6,184,2.4
4,0 days 00:04:46.349000,17.5,67.0,1007.5,False,25.6,186,2.9
5,0 days 00:05:46.364000,17.5,66.0,1007.5,False,25.7,186,2.7
6,0 days 00:06:46.347000,17.6,66.0,1007.5,False,25.9,197,3.0
7,0 days 00:07:46.346000,17.5,66.0,1007.4,False,25.9,177,2.9
8,0 days 00:08:46.345000,17.6,67.0,1007.5,False,26.1,220,3.5
9,0 days 00:09:46.344000,17.7,67.0,1007.4,False,26.3,202,3.2
10,0 days 00:10:46.358000,17.7,66.0,1007.5,False,26.3,199,3.0
11,0 days 00:11:46.357000,17.8,66.0,1007.5,False,26.3,207,3.0
12,0 days 00:12:46.356000,17.8,67.0,1007.5,False,26.3,191,4.5
13,0 days 00:13:46.340000,17.8,66.0,1007.5,False,26.5,196,4.0
14,0 days 00:14:46.354000,17.8,67.0,1007.4,False,26.6,201,3.7
15,0 days 00:15:46.353000,17.9,67.0,1007.5,False,26.5,186,3.0
16,0 days 00:16:46.352000,17.9,68.0,1007.5,False,26.5,195,3.7
17,0 days 00:17:46.351000,17.9,67.0,1007.4,False,26.6,187,4.6
18,0 days 00:18:46.350000,17.9,68.0,1007.5,False,26.9,198,4.1
19,0 days 00:19:46.349000,17.8,69.0,1007.4,False,27.1,199,4.1
20,0 days 00:20:46.363000,17.8,68.0,1007.4,False,27.1,195,3.5
21,0 days 00:21:46.362000,17.7,66.0,1007.5,False,27.7,198,3.7
22,0 days 00:22:46.377000,17.7,67.0,1007.4,False,27.7,176,4.3
23,0 days 00:23:46.376000,17.6,68.0,1007.5,False,26.9,205,2.5
24,0 days 00:24:46.375000,17.6,68.0,1007.5,False,26.9,204,4.3
25,0 days 00:25:46.374000,17.6,68.0,1007.4,False,26.9,207,3.2
26,0 days 00:26:46.373000,17.6,68.0,1007.5,False,27.9,197,4.1
27,0 days 00:27:46.372000,17.6,69.0,1007.5,False,27.9,210,3.4
28,0 days 00:28:46.371000,17.6,69.0,1007.4,False,27.0,191,3.7
29,0 days 00:29:46.369000,17.5,69.0,1007.5,False,26.7,188,3.2
30,0 days 00:30:46.384000,17.5,69.0,1007.4,False,26.5,186,2.9
31,0 days 00:31:46.383000,17.6,70.0,1007.5,False,26.7,173,2.9
32,0 days 00:32:46.413000,17.7,69.0,1007.5,False,27.0,194,3.0
33,0 days 00:33:46.381000,17.9,66.0,1007.5,False,28.6,197,3.4
34,0 days 00:34:46.411000,18.0,64.0,1007.5,False,28.8,191,3.2
35,0 days 00:35:46.426000,18.1,64.0,1007.5,False,28.8,175,3.2
36,0 days 00:36:46.440000,18.2,62.0,1007.5,False,28.9,199,3.2
37,0 days 00:37:46.455000,18.3,60.0,1007.5,False,29.3,197,4.1
38,0 days 00:38:46.469000,18.2,62.0,1007.5,False,29.3,188,3.9
39,0 days 00:39:46.468000,18.2,62.0,1007.4,False,29.3,165,3.9
40,0 days 00:40:46.483000,18.3,63.0,1007.5,False,29.6,187,3.5
41,0 days 00:41:46.482000,18.3,61.0,1007.5,False,29.9,177,3.9
42,0 days 00:42:46.481000,18.4,62.0,1007.5,False,30.2,186,3.4
43,0 days 00:43:46.495000,18.4,63.0,1007.4,False,30.2,173,3.7
44,0 days 00:44:46.494000,18.3,64.0,1007.5,False,30.1,187,4.0
45,0 days 00:45:46.493000,18.4,65.0,1007.4,False,29.4,156,3.9
46,0 days 00:46:46.492000,18.3,67.0,1007.4,False,28.3,147,3.0
47,0 days 00:47:46.491000,18.2,68.0,1007.5,False,27.7,134,2.4
48,0 days 00:48:46.490000,17.9,68.0,1007.2,False,27.5,140,2.0
49,0 days 00:49:46.489000,17.6,65.0,1007.5,False,27.1,33,2.5